*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/ScheduleModule/japl-android-schedule-module/
/TorresSanSebastian.zip
/app/release/app-release.aab
/ScheduleModule/japl-android-schedule-module/
/.idea/
/.idea
/.idea/*
/.idea/*.*
