<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="co.japl.android.torressansebastian">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.google.android.c2m.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
<!--android:name=".Application"-->
    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:targetApi="34">

        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyCXLQfcG77akGYyJGTtGb-alx44VGiFWMQ"/>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="allUsers" />

        <meta-data android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logotorressansebastian"/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/blue_light"/>

        <activity
            android:name=".Main"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    
        <service android:name="co.japl.android.torressansebastian.services.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name="co.japl.android.torressansebastian.services.MyJobIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>
        <receiver android:name="co.japl.android.torressansebastian.BroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>
    </application>

    

</manifest>